.header {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 0rem 1rem 28rem 16.5rem;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/bg-main-desktop.png);
  background-size: cover;
  background-position: 100% 20%;
}

.header__text-box {
  display: flex;
  flex-direction: column;
  max-width: 74%;
  padding-top: 6.2rem;
  gap: 4rem;
}

.header__hero {
  width: 20rem;
  height: 30rem;
}

.header__hero-img {
  width: 100%;
  height: 100%;
}
