/*Typography styles*/

/*Base Typo*/
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #777;
}

/* Header Typography */
.heading-primary {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--color-text-dark);
}

.header__text {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-text-dark);
}

/*Card Component Typography*/
.card__title {
  font-weight: 700;
  font-size: 4rem;
  color: var(--color-text-light);
}

.card__info {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8;
  color: var(--color-text-light);
}

.card__price {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.2px;
  color: var(--color-text-light);
}

.card__price-num {
  font-weight: 700;
  font-size: 4rem;
  color: var(--color-text-light);
}

.btn {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: -0.18px;
}

/*Footer*/

.footer__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-text-dark);
}
