.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.btn_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.btn--ios {
  color: #fcfaf9;
  background: #191826;
  padding: 12px 31px;
}

.btn--android {
  padding: 12px 14px;
  color: #191826;
  background: #fcfaf9;
}
