.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 1.2rem;
  cursor: pointer;
}

.btn_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}

.btn--ios {
  color: var(--color-text-light);
  background: var(--color-text-dark);
  padding: 1.2rem 3.1rem;
}

.btn--android {
  padding: 12px 14px;
  color: var(--color-text-dark);
  background: var(--color-text-light);
}
