.card {
  width: 446px;
  height: 625px;
  background: #fa7453;
  border-radius: 12px;
  padding: 58px;
  color: #fff;
  position: absolute;
  margin-right: 9.5rem;
  top: 15%;
  right: 0;
}

.card__title {
  margin-bottom: 2.2rem;
}

.card__info {
  margin-bottom: 3.9rem;
}

.card__price {
  margin-bottom: 4.6rem;
}

.btn_icon {
  margin-right: 1rem;
}
