.card {
  max-width: 44.6rem;
  min-height: 62.5rem;
  height: 100%;
  background: var(--color-tertiary-dark);
  border-radius: 1.2rem;
  padding: 5.8rem;
  color: var(--color-white);
  position: absolute;
  margin-right: 9.5rem;
  top: 15%;
  right: 0;
}

.card__title {
  margin-bottom: 2.2rem;
}

.card__info {
  margin-bottom: 3.9rem;
}

.card__price {
  margin-bottom: 4.6rem;
}

.btn_icon {
  margin-right: 1rem;
}
