:root {
  --color-text-light: #fcfaf9;
  --color-text-dark: #191826;
  --color-white: #fff;

  --color-secondary-light: #66e2dc;

  --color-tertiary-dark: #fa7453;
  --colo-tertiary-light: #ffb964;
}
